.page-container{
    display: flex;
    flex-direction: row;
    position: relative;

    .content{
        width: calc(100% - 254px);
        z-index: 0;

        @media (max-width: 1024px) {
            width: 100%;
        }
    }
}