@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.product-add{
    padding-inline: 26px 36px;
    padding-bottom: 50px;

    @media (max-width: 767px) {
        padding-inline: 20px;
    }

    .row{
        &-action{
            a{
                width: fit-content;
            }
        }

        &-forms{
            margin-top: 30px;

            &.row-product-type{
                margin-bottom: 30px;

                .container-card-1{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    h2{
                        margin-bottom: 0;
                    }
                    
                    .service-menu{
                        display: flex;
                        flex-direction: row;
                        column-gap: 30px;
    
                        @media (max-width: 767px) {
                            flex-wrap: wrap;
                        }
    
                        .service-menu-item{
                            width: 247px;
                            height: 193px;
                            
                            padding: 0;
    
                            position: relative;
    
                            display: flex;
                            align-items: center;
                            justify-content: center;
    
                            @media (max-width: 664px) {
                                width: 100%;
                            }
    
                            &.active{
                                .checked{
                                    display: block;
                                }
                            }
    
                            .checked, .unchecked{
                                position: absolute;
                                top: 20px;
                                right: 20px;
                            }
    
                            .checked{
                                display: none;
                            }
    
                            p{
                                margin-top: 20px;
                                text-align: center;
                            }
                        }
                    }
    
                    .explanation{
                        display: flex;
                        flex-direction: column;
                        padding: 20px;
    
                        border: 1px solid v.$primary-1;
                        border-radius: 10px;
    
                        h3{
                            color: v.$primary-1;
    
                            @include t.heading-3;
                        }
    
                        p{
                            @include t.body-1;
                        }
                    }
                }

            }

            &.row-forms{
                h2{
                    color: v.$primary-1;

                    margin-bottom: 20px;

                    @include t.heading-3;
                }
                .menu-wrapper{
                    display: flex;
                    flex-direction: row;
                    column-gap: 20px;

                    margin-bottom: 30px;

                    .menu-item{
                        &.active{
                            background-color: v.$primary-4;
                        }
                    }
                }

                .card{

                    &-general{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        h2{
                            width: 100%;
                        }

                        .w-1\/2{
                            @include m.flex-slice(2, 25px);

                            @media (max-width: 725px) {
                                width: 100%;
                                flex-basis: unset;
                            }
                        }
                        .form-group{
                            &.cstm-p-unit{
                                flex-direction: row;
                                flex-wrap: wrap;
                                align-items: center;

                                label{
                                    width: 100%;

                                    margin-bottom: auto;
                                }
                                input{
                                    width: calc(100% - 280px);
                                    min-width: 100px;
                                }
                                p{
                                    width: fit-content;
                                }
                            }
                        }

                            
                    }

                    &-financial{
                        h2{
                            margin-bottom: 30px;
                        }

                        .group-input{
                            width: 100%;

                            .input-container{

                                .price{

                                    max-width: 80px;

                                    label{
                                        width: 100%;
                                    }

                                    input{
                                        max-width: 81px;
                                    }

                                }

                                .tax-rate{
                                    max-width: 80px;
                                }

                                .discount{
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;

                                    max-width: 207px;

                                    input{
                                        max-width: 81px;
                                    }

                                    p{
                                        display: inline;

                                        margin-block: auto;

                                        @include t.heading-3;
                                    }


                                }

                            }

                        }

                    }

                    &-custom-pricing-periods{
                        display: none;

                        &.active{
                            display: block;
                        }

                        h2{
                            margin-bottom: 30px;
                        }

                        .label{
                            padding-left: 0;
                        }

                        .period-contract{
                            display: none!important;

                            &.active{
                                display: flex!important;
                            }
                        }
                        
                        .input-container{
                            row-gap: 0px;


                            .input-container{
                                margin-bottom: 5px;
                            }
                            
                            .group-input{
                                display: flex;
                                gap: 20px;
                                flex-wrap: wrap;

                                margin-bottom: 10px;

                                width: 100%;

                                @media (max-width: 580px) {
                                    margin-bottom: 30px;
                                }
                            }

                            .cstm-btn{
                                border: none;

                                @media (max-width: 580px) {
                                    padding: 0;
                                }

                                @include t.button-1;

                                &:hover{
                                    color: v.$secondary-1;
                                    background-color: v.$white;

                                    border: none;
                                }
                            }

                            .form-group{

                                .radio-wrapper{
                                    p, input{
                                        margin-bottom: 10px;
                                    }       
                                    
                                    input{
                                        margin-right: 8px;
                                    }
                                }

                            }

                            .period{
                                &-contract{
                                    width: 100%;
                                    
                                    p{
                                        width: 100%;
                                    }
                                    .number{
                                        max-width: 81px;
                                    }
                                    .month{
                                        max-width: 100px;
                                    }
                                    .price-excl{              
                                        width: fit-content;

                                        display: flex;
                                        flex-direction: row;

                                        flex-basis: unset;

                                        input{
                                            width: 120px;
                                        }

                                        p{
                                            width: fit-content;

                                            margin-block: auto;
                                            margin-left: 18px;

                                            display: flex;
                                            gap: 10px;
                                            align-items: center;

                                            svg{
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                }

                                &-billing{
                                    width: 100%;

                                    .input-container{
                                        @media (max-width: 747px) {
                                            flex-direction: column;
                                        }
                                    }
                                    
                                    .label{
                                        width: 100%;
                                    }

                                    .till{
                                        width: fit-content;

                                        display: flex;
                                        align-items: center;
                                    }

                                    .date{
                                        max-width: 260px;
                                    }
                                }
                            }

                        }

                    }

                    &-detailed-description{
                        textarea{
                            max-width: 924px;
                        }
                        .desc{
                            margin-block: 20px;

                            @include t.body-1;
                        }
                    }

                    &-product-groups{
                        .desc{
                            margin-block: 20px;

                            @include t.body-1;
                        }

                        .checkbox{
                            label{
                                margin-left: 28px;
                            }
                        }
                    }

                    &-properties-of-domain{
                        p:has(.note){
                            @include t.body-1;
                        }
                        .group-input{
                            margin-bottom: 30px;
                        }

                        .add-new-tld{
                            .form-group{
                                margin-bottom: auto;
                            }
                        }

                        .cstm-fit-content{
                            margin-top: auto;
                        }

                        .data{
                            display: flex;
                            flex-wrap: wrap;
                            column-gap: 100px;
                            row-gap: 20px;

                            margin-block: 30px;

                            .data-item{
                                .title{
                                    margin-bottom: 10px;

                                    @include t.button-1;
                                }
                            }
                        }

                    }

                    &-properties-of-hosting{
                        .form{
                            display: flex;
                            flex-direction: column;

                            max-width: 452px;
                        }
                    }

                    &-hosting-account-welcome{
                        .checkbox{
                            label{
                                @media (min-width: 1439px) {
                                    white-space: nowrap;
                                }
                            }
                        }
                        .form{
                            display: flex;
                            flex-direction: column;

                            max-width: 452px;
                        }
                    }
                }

            }


        }
    }

    .submit-wrapper{
        width: fit-content;

        position: relative;

        color: v.$white;

        &.left{
            input, button{
                width: fit-content;
    
                padding-left: 32px;
    
                @include t.button-1;
            }
    
            svg{
                position: absolute;
                top: 50%;
                left: 6px;
    
                transform: translateY(-50%);
            }
        }

        input, button{
            width: fit-content;

            padding-right: 32px;

            @include t.button-1;
        }

        svg{
            position: absolute;
            top: 50%;
            right: 10px;

            transform: translateY(-50%);
        }
    }

    .toggle-action{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        position: relative;

        margin-top: 20px;

        @media (max-width: 575px) {
            flex-direction: column-reverse;
            justify-content: flex-start;
            
            &> p{
                margin-right: auto;
            }
        }


        .switch{
            margin-right: auto;
            min-width: 80px;
        }

        input:checked ~ {
            .no{
                display: none;
            }
            .yes{
                display: inline;
            }
        }

        .yes{
            display: none;
            position: absolute;
            top: 50%;
            right: 42px;

            color: v.$white;

            transform: translateY(-50%);

            @include t.button-1;
        }
        
        .no{
            position: absolute;
            right: 16px;

            color: v.$font-1;

            transform: translateY(-50%);

            @include t.button-1;
        }
    }

    // Javascript CSS

    .js-domain-information-forms, .js-hosting-information-forms, .js-row-service, .js-billing-forms, .js-row-billing-information{
        display: none;

        margin-bottom: 30px;

        &.active{
            display: block;
        }
    }

}