@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.auth {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    @media (max-width: 1024px) {
        flex-direction: column;


        min-height: unset;

    }

    &__start {
        background-image: url('#{v.$assets}/images/auth-BG.jpg');
        background-color: v.$primary-1;
        background-size: cover;
        background-repeat: no-repeat;

        flex: 0 0 40%;
        width: 100%;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        position: relative;

        @media (max-width: 1024px) {
            padding: 50px 0;
        }

        &-wrapper {
            max-width: 360px;
            width: 100%;

            display: flex;
            flex-direction: column;
            gap: 30px;

            @media (max-width: 767px) {
                max-width: 80%;
            }

            .post-container{
                .post{
                    &-date{
                        @include t.body-1;
                    }
                    &-title{
                        @include t.heading-2;
                    }
                    &-desc{
                        @include t.body-1;
                    }
                }
            }

            .slick-dots{
                display: flex;
                margin-top: 20px;
                gap: 10px;
                li{
                    &.slick-active{
                        .post-dots{
                            height: 9px;
                            width: 9px;
                
                            border: 1px solid v.$white;
                            border-radius: 50%;
    
                            background-color: v.$white;
                        }
                    }
                    .post-dots{
                        height: 9px;
                        width: 9px;
            
                        border: 1px solid v.$white;
                        border-radius: 50%;
                    }
    
                }
            }
        }
        .bg{
            position: absolute;
            &-tl{
                top: 0;
                left: 0;
            }
            &-tr{
                top: 0;
                right: 0;
            }
            &-bl{
                bottom: 0;
                left: 0;
                
                display: flex;
            }
            &-br{
                bottom: 0;
                right: 0;

                display: flex;

            }
            img{
                margin-top: auto;
            }
        }

    }

    &__end {
        flex: 0 0 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media (max-width: 1024px) {
            padding: 50px 0 100px;
        }

        .form {
            max-width: 360px;
            box-shadow: 0px 4px 28px rgba(255, 199, 230, 0.3);
            padding: 40px 30px 50px 30px;
            border-radius: 10px;
            margin: 0 20px;

            a {
                color: v.$primary-1;
                @include t.button-1;
                text-decoration: none;

                &:hover {
                    color: v.$secondary-1;
                }
            }

            div{
                width: 100%;
            }

            input:not([type="checkbox"]){
                transition: .3s;
                color: v.$neutral-2;

                @include m.input;
                @include t.body-1;

                &:hover{
                    @include m.input-hover;
                }

                &:focus{
                    color: v.$primary-1;

                    @include m.input-focus;
                }
            }
        }

        .lang{
            @media (max-width: 767px) {
                width: fit-content;
                margin-left: auto;
                margin-right: 20px;
            }
        }
    }
}