@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.client-edit{
    padding-inline: 26px 136px;

    @media (max-width: 1280px) {
        padding-inline: 20px;
    }

    .row{
        display: flex;
        flex-direction: row;
        column-gap: 78px;

        position: relative;

        @media (max-width: 767px) {
            flex-direction: column;
            row-gap: 20px;
        }

        &-submit{
            padding-left: 293px;
            padding-block: 30px 50px;
            .col-submit{
                width: 100%;
            }
            @media (max-width: 767px) {
                padding-left: 0;
            }
        }

        .col{

            @media (max-width: 767px) {
                width: 100%;
            }

            &#reports{
                @media (min-width: 1440px) {
                    min-width: calc(100% + 100px)!important;
                }
            }

            .invoices{
                .table-wrapper{
                    overflow-y: hidden;
                    overflow-x: scroll;

                    .table-content{
                        min-width: 570px;
                        
                        tbody{
                            tr{
                                &:nth-child(odd){
                                    background-color: v.$primary-6;
                                }
                                &:nth-child(even){
                                    background-color: v.$white;
                                }
                            }
                        }
                    }
                }
            }
            
            .reports{
                .row-1{
                    gap: 28px;
                    flex-wrap: wrap;

                    margin-bottom: 28px;

                    &>.col{
                        min-width: 260px;
                    }
                }
                .row-2{
                    width: 100%;
                    &>.col.cstm{
                        .container-card-2-wrapper{
                            @media (min-width: 768px) {
                                max-width: unset;
                            }
                            @media (max-width: 767px) {
                                svg, .bg-icon-tl, .bg-icon-br{
                                    height: 100%;
                                    bottom: 0;
                                }
                            }
                        }
                    }
                }
            }

            &-forms{

                display: none;
                
                transition: .8s all;
                transition-timing-function: ease-in;

                @media (min-width: 768px) {
                    width: calc(100% - 292px);
                }

                @media (max-width: 767px) {
                    order: 3;
                }

                &.active{
                    display: block;

                    animation: fadeIn .5s;
                }
            }

            &-action{
                @media (max-width: 767px) {
                    order: 2;
                }

                .action-menu{
                    @media (max-width: 767px) {
                        justify-content: start;
    
                        .back-wrapper{
                            width: 100%;
                            margin-bottom: 20px;
                        }
                        
                        .menu-item{
                            margin-bottom: 10px;
                            margin-right: 10px;
                        }
                    }
                }
            }

            &-card-company{
                position: absolute;
                top: 360px;

                @media (max-width: 767px) {
                    position: unset;

                    order: 1;
                }

                .card-company-wrapper{
                    background: v.$secondary-2;

                    max-width: 267px;
                    box-sizing: border-box;

                    padding: 24px 35px 26px 29px;

                    border-radius: 10px;

                    position: relative;

                    overflow: hidden;

                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;

                    @media (max-width: 767px) {
                        max-width: unset;
                        // flex-direction: row;
                        flex-wrap: wrap;

                        *{
                            width: fit-content;
                            height: fit-content;
                        }

                    }

                    .icon-top{
                        margin-bottom: 10px;
                        margin-right: 20px;
                    }

                    .title{
                        color: v.$white;

                        @include t.heading-3;
                    }

                    .name, .address, .email, .telp{
                        color: v.$white;

                        text-decoration: none;

                        display: flex;
                        align-items: center;

                        @include t.body-1;
                    }

                    .bg-icon{
                        &-tr{
                            position: absolute;
                            top: 0;
                            right: 0;
                        }

                        &-br{
                            position: absolute;
                            bottom: -8px;
                            right: 0;
                        }
                    }

                }
            }

            &-submit{
                width: 100%;

                @media (max-width: 767px) {
                    order: 4;
                }
            }
        }
    }
}