@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.client-add{
    padding-inline: 26px 137px;

    @media (max-width: 1280px) {
        padding-inline: 20px;
    }

    .row{
        display: flex;
        flex-direction: row;

        @media (max-width: 767px) {
            flex-direction: column;
            row-gap: 20px;
        }

        &:nth-child(1){
            padding-block: 42px;
        }

        &.content-forms{
            display: flex;
            justify-content: flex-start;
            column-gap: 78px;
        }

        &-submit{
            padding-left: 288px;
            padding-block: 30px 50px;
            .col-submit{
                width: 100%;
            }
            @media (max-width: 767px) {
                padding-left: 0;
            }
        }

        h1{
            color: v.$primary-1;

            @include t.heading-3;
        }

        .col{
            &-action{
                width: 210px;

                @media (max-width: 767px) {
                    width: 100%;
                }

            }

            &-forms{
                width: 100%;

                display: none;
                
                transition: .8s all;
                transition-timing-function: ease-in;

                &.active{
                    display: block;

                    animation: fadeIn .5s;
                }
            }
        }
    }
}