@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.domain-add{
    padding-inline: 26px 36px;
    padding-bottom: 50px;

    @media (max-width: 767px) {
        padding-inline: 20px;
    }

    .row{
        &-action{
            a{
                width: fit-content;
            }
        }

        &-forms{
            margin-top: 30px;

            &.row-search-client{
                .client-information{
                    margin-top: 30px;
    
                    h2{
                        margin-bottom: 40px;
    
                        width: 100%;
                    }
    
                    .client-information-item-wrapper{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 30px;
    
                        max-width: calc(50% + 190px);
                        
                        @media (max-width: 900px) {
                            grid-template-columns: repeat(2, 1fr);
    
                            max-width: 100%;
                            
                        }
    
                        @media (max-width: 550px) {
                            grid-template-columns: repeat(1, 1fr);
    
                        }
                    }
    
                }
            }

            &.row-choose-service{
                margin-bottom: 30px;
                .service-menu{
                    display: flex;
                    flex-direction: row;
                    column-gap: 30px;

                    @media (max-width: 575px) {
                        flex-wrap: wrap;
                    }

                    .service-menu-item{
                        width: 247px;
                        height: 193px;
                        
                        padding: 0;

                        position: relative;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @media (max-width: 575px) {
                            width: 100%;
                        }

                        &.active{
                            .checked{
                                display: block;
                            }
                        }

                        .checked, .unchecked{
                            position: absolute;
                            top: 20px;
                            right: 20px;
                        }

                        .checked{
                            display: none;
                        }

                        p{
                            margin-top: 20px;
                            text-align: center;
                        }
                    }
                }

            }

            &.row-forms{
                h2{
                    color: v.$primary-1;

                    margin-bottom: 20px;

                    @include t.heading-3;
                }
                .menu-wrapper{
                    display: flex;
                    flex-direction: row;
                    column-gap: 20px;

                    margin-bottom: 30px;

                    .menu-item{
                        &.active{
                            background-color: v.$primary-4;
                        }
                    }
                }

                .card{
                    
                    &-domain{
                        .cstm-fit-content{
                            width: fit-content;
                            flex: unset;
                        }
        
                        .input-container{
                            align-items: flex-end;
                        }
                        
                        .group-input{
                            &:not(:last-child){
                                margin-bottom: 30px;
                            }

                            span{
                                color: v.$primary-1;
                            }
                        }

                        .js-domain-status{
                            @include t.heading-3;
                        }
                    }

                    &-registrar{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        row-gap: 30px;


                        .w-1\/2{
                            @include m.flex-slice(2, 25px);

                            @media (max-width: 725px) {
                                width: 100%;
                                flex-basis: unset;
                            }
                        }
                        &__left{
                            width: 100%;

                        }
                        
                        &__right{
                            width: 100%;

                            .group-input{
                                width: 100%;
                                display: flex;
                                justify-content: space-between;

                                @media (max-width: 725px) {
                                    flex-direction: column;
                                    gap: 10px;
                                }

                                .js-ip{
                                    display: none;

                                    &.active{
                                        display: flex;
                                    }
                                }
                            }
                            .toggle-action{
                                @media (max-width: 767px) {
                                    flex-direction: column-reverse;
                                }
                            }
                        }
                            
                    }

                    &-domain-contacts{
                        h2{
                            margin-bottom: 30px;
                        }

                        .js-modal-trigger{
                            cursor: pointer;
                        }

                        .w-1\/3{
                            @include m.flex-slice(3, 25px);

                            @media (min-width: 1024px) and (max-width: 1200px) {
                                width: 100%;
                                flex-basis: unset;
                            }

                            @media (max-width: 940px) {
                                width: 100%;
                                flex-basis: unset;
                            }
                        }

                        .input-container{
                            @media (max-width: 767px) {
                                flex-direction: column;
                            }
                            .form-group{
    
                                .radio-wrapper{
                                    
                                    .label{
                                        color: v.$primary-1;
        
                                        margin-bottom: 20px;
        
                                    }
                                    
                                    label{
                                        .btn{
                                            display: inline;
                                            
                                            padding: 0;

                                            @media (max-width: 385px) {
                                                margin-bottom: 16px;
                                            }
                                        }
        
                                    }
        
                                    input{
                                        margin: 0;
                                        margin-right: 8px;
                                        margin-bottom: 20px;
                                    }
                                }
                            }

                            .choose-owner{
                                flex-direction: row;
                                flex-wrap: wrap;

                                .search-wrapper{
                                    width: calc(100% - 73px);
                                }
                            }
                        }
                    }

                    &-financial{
                        h2{
                            margin-bottom: 30px;
                        }

                        .group-input{
                            width: 100%;

                            .input-container{

                                .price{
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    align-items: center;

                                    max-width: 280px;

                                    label{
                                        width: 100%;
                                    }

                                    input{
                                        max-width: 81px;
                                    }

                                    p{
                                        @include t.body-1;
                                    }
                                }

                                .tax-rate{
                                    max-width: 80px;
                                }

                                .discount{
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;

                                    max-width: 207px;

                                    input{
                                        max-width: 81px;
                                    }

                                    p{
                                        display: inline;

                                        margin-block: auto;

                                        @include t.heading-3;
                                    }


                                }

                            }

                        }

                    }

                    &-contract-data{
                        h2{
                            margin-bottom: 30px;
                        }

                        .input-container{
                            row-gap: 10px;
                            margin-bottom: 30px;

                            .input-container{
                                margin-bottom: 5px;
                            }

                            .form-group{

                                .radio-wrapper{
                                    p, input{
                                        margin-bottom: 10px;
                                    }       
                                    
                                    input{
                                        margin-right: 8px;
                                    }
                                }

                            }

                            .period{
                                &-contract{
                                    width: 100%;
                                    
                                    p{
                                        width: 100%;
                                    }
                                    .number{
                                        max-width: 81px;
                                    }
                                    .month{
                                        max-width: 100px;
                                    }
                                }

                                &-billing{
                                    width: 100%;

                                    .input-container{
                                        @media (max-width: 747px) {
                                            flex-direction: column;
                                        }
                                    }
                                    
                                    .label{
                                        width: 100%;
                                    }

                                    .till{
                                        width: fit-content;

                                        display: flex;
                                        align-items: center;
                                    }

                                    .date{
                                        max-width: 260px;
                                    }
                                }
                            }

                            .form-group{
                                max-width: 260px;

                                &:has(.till){
                                    max-width: 300px;

                                    @media (max-width: 747px) {
                                        max-width: 100%;
                                    }
                                }
                            }

                            .till{
                                display: none;
                                margin-block: auto;

                                @include t.body-1;
                                
                                &:has(.style){
                                    display: flex;
                                    align-items: center;
                                    gap: 10px 20px;

                                    width: 100%;

                                    @media (max-width: 747px) {
                                        flex-direction: column;
                                        align-items: flex-start;
                                    }
                                }
                                .style{
                                    padding: 10px 12px;

                                    background: #fff;
                                    color: #0e0e0e;
                                    
                                    box-sizing: border-box;
                                    
                                    border-radius: 4px;

                                    box-shadow: 0px 0px 0px 1px rgb(89 89 120 / 16%);
                                    
                                    max-width: 260px;
                                    width: 100%;
                                }
                            }

                        }

                        .explanation{
                            display: flex;
                            flex-direction: column;
                            row-gap: 20px;
                            padding: 20px;

                            border: 1px solid v.$primary-1;
                            border-radius: 10px;

                            h3{
                                color: v.$primary-1;

                                @include t.heading-3;
                            }

                            p{
                                @include t.body-1;
                            }
                        }

                    }

                    &-existing-profile{
                        h2{
                            margin-bottom: 30px;
                        }

                        .form-group{
                            @media (max-width: 767px) {
                                width: 100%!important;

                                flex-basis: unset;
                            }
                        }
                    }

                    &-information-recurring{
                        h2{
                            margin-bottom: 30px;
                        }
                        
                        &>p{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                    }

                    &-account-information{
                        display: flex;
                        flex-direction: column;

                        .group-input{
                            margin-bottom: 30px;

                            &:first-child{
                                margin-bottom: 20px;
                            }

                            &:last-child{
                                margin-bottom: 0;
                            }
                            
                            .input-container{
                                display: flex;
                                align-items: flex-end;

                                .form-group{
                                    &.checkbox{
                                        input, label:before{
                                            top: 50%;

                                            transform: translateY(-50%);
                                        }

                                        label{
                                            margin-left: 30px;
                                        }
                                    }
                                    .cstm-btn{
                                        padding-left: 8px;
                                    }
                                }

                            }
                        }
                    }

                    &-hosting-properties{
                        .client-information{
                            
                            &:last-child{
                                display: none;
                            }

                            &>p{
                                display: flex;
                                align-items: center;
                                gap: 10px;
                            }
    
                            .hosting-properties-item-wrapper{
                                display: grid;
                                grid-template-columns: repeat(3, 1fr);
                                gap: 30px;
            
                                max-width: calc(50% + 190px);
                                
                                @media (max-width: 900px) {
                                    grid-template-columns: repeat(2, 1fr);
            
                                    max-width: 100%;
                                    
                                }
            
                                @media (max-width: 550px) {
                                    grid-template-columns: repeat(1, 1fr);
            
                                }
                            }

                        }
                    }

                    &-preferences{

                        .form-group{
                            display: flex;
                            justify-content: flex-end;
                        }
                        .email-reminder{
                            display: flex;
                            flex-direction: column;
                            row-gap: 20px;

                            margin-top: 30px;
                            padding: 20px;

                            border: 1px solid v.$primary-1;
                            border-radius: 10px;

                            h3{
                                color: v.$primary-1;

                                @include t.heading-3;
                            }

                            p{
                                @include t.body-1;
                            }
                        }
                    }

                    &-billing-period{
                        .form-group:has(.group-input){
                            row-gap: 30px;
                        }
                        .group-input{
                            &.billing-cycle{
                                .form{
                                    row-gap: 10px;

                                    .label{
                                        width: 100%;
                                    }
    
                                    .form-group{
                                        max-width: 100px;
                                    }
                                }
                            }

                            &.billing-period{
                                .input-container{
                                    row-gap: 10px;
                                    flex-direction: row;
                                    
                                    .label{
                                        width: 100%;
                                    }
    
                                    .form-group{
                                        max-width: 260px;

                                        &:has(.till){
                                            max-width: 300px;

                                            @media (max-width: 747px) {
                                                max-width: 100%;
                                            }
                                        }
                                    }

                                    .till{
                                        display: none;
                                        margin-block: auto;

                                        @include t.body-1;

                                        &:has(.style){
                                            display: flex;
                                            align-items: center;
                                            gap: 10px 20px;

                                            @media (max-width: 747px) {
                                                flex-direction: column;
                                                align-items: flex-start;
                                            }
                                        }
                                        .style{
                                            padding: 10px 12px;

                                            background: #fff;
                                            color: #0e0e0e;
                                            
                                            box-sizing: border-box;
                                            
                                            border-radius: 4px;

                                            box-shadow: 0px 0px 0px 1px rgb(89 89 120 / 16%);
                                            
                                            max-width: 260px;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }


        }
    }

    .submit-wrapper{
        width: fit-content;

        position: relative;

        color: v.$white;

        &.left{
            input, button{
                width: fit-content;
    
                padding-left: 32px;
    
                @include t.button-1;
            }
    
            svg{
                position: absolute;
                top: 50%;
                left: 6px;
    
                transform: translateY(-50%);
            }
        }

        input, button{
            width: fit-content;

            padding-right: 32px;

            @include t.button-1;
        }

        svg{
            position: absolute;
            top: 50%;
            right: 10px;

            transform: translateY(-50%);
        }
    }

    // Javascript CSS

    .js-domain-information-forms, .js-hosting-information-forms, .js-row-service, .js-billing-forms, .js-row-billing-information{
        display: none;

        margin-bottom: 30px;

        &.active{
            display: block;
        }
    }

}