@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.product-overview{
    padding-inline: 25px 36px;
    padding-bottom: 50px;

    @media (max-width: 1024px) {
        padding-inline: 20px;
    }

    .row{
        &:nth-child(1){
            padding-block: 42px;
        }
        &.table-action{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            row-gap: 20px;

            @media (max-width: 767px) {
                flex-direction: column;
                justify-content: flex-start;
            }
            
            .title-col{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                margin-right: auto;
            }

            .action-col{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                gap: 30px;

                
                @media (max-width: 767px) {
                    width: 100%;
                    
                    margin-right: auto;
                }

                @media (max-width: 500px) {
                    flex-direction: column-reverse;
                    gap: 20px;
                }

                .search-wrapper{
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    position: relative;

                    width: 100%;
                    
                    input.search-client{
                        width: 100%;

                        transition: .3s;

                        padding-right: 40px;

                        z-index: 1;

                        background-color: transparent;
    
                        @include t.body-1;
                        @include m.input;
    
                        &:hover{
                            @include m.input-hover;
                        }
    
                        &:focus{
                            color: v.$primary-1;
                            
                            @include m.input-focus;
                        }
                    }

                    svg{
                        position: absolute;
                        right: 10px;
                    }
                }

                a{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    @media (max-width: 500px) {
                        margin-right: auto;
                    }
                }
            }
        }
        &-table{
            margin-top: 30px;
            padding: 40px;

            background: #FFFFFF;

            box-shadow: 0px 4px 28px rgba(255, 199, 230, 0.3);
            border-radius: 10px;

            border-radius: 10px;

            @media (max-width: 767px) {
                padding-inline: 20px;
            }

            div.table-col{
                overflow-y: hidden;
                overflow-x: scroll;

                padding-bottom: 20px;

                /* Table scrollbar */
                /* width */
                &::-webkit-scrollbar {
                    height: 6px;
                    transform: translate(-24px, 0px);
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background-color: #fff;
                    border-radius: 5px;
                }
                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: v.$primary-1; 
                    border-radius: 5px;
                    height: 9px
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: v.$secondary-1; 
                }

                /* Table scrollbar END */
            }
        }
    }
    .title{
        &-page{
            color: v.$primary-1;

            @include t.heading-3;
        }

        &-table{
            color: v.$primary-1;

            @include t.heading-3;
        }
    }
    .count{
        color: v.$white;
        background-color: v.$primary-1;

        padding: 2px 7px 0;

        @include t.button-1;
    }
    .table{
        &-filter{
            display: flex;
            flex-direction: row;
            align-items: center;

            position: relative;

            width: fit-content;

            svg{
                position: absolute;
            }

            .text-filter{
                color: v.$primary-1;
            }

            select.filter-dropdown {
                /* Reset Select */
                appearance: none;
                outline: 0;
                border: 0;
                box-shadow: none;
                /* Personalize */

                flex: 1;
                padding: 10px;
                padding-left: 30px;

                z-index: 1;

                color: v.$primary-1;
                background-color: transparent;
                cursor: pointer;

                @include t.body-1;

                &:before{
                    content: '1';
                }
            }
        }

        &-content{
            width: 100%;
            min-width: 1180px;
            
            thead{
                th{
                    text-align: start;
                    vertical-align: middle;

                    color: v.$primary-1;

                    padding-block: 18px;
                    padding-left: 47px;

                    @include t.heading-3;

                    border-bottom: 2px solid #F3E2F0;

                    &:nth-child(5){
                        max-width: 131px;
                    }
                    
                }
            }

            tbody{
                tr{
                    &:nth-child(even){
                        background-color: v.$primary-6;
                    }
                }
                td{
                    text-align: start;
                    vertical-align: middle;

                    color: v.$font-1;

                    padding-block: 20px;
                    padding-left: 47px;

                    border-bottom: 2px solid v.$primary-4;

                    @include t.body-1;

                }
            }
        }
    }
}