@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.domain-contacts-add{
    padding: 0 37px 50px 26px;
    
    .row{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .col{
        &-forms{
            width: calc(100% - 260px);
        }
    }

    .card{
        
        &-contact-information-3{
            .title-wrapper{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: flex-start;
                gap: 20px;

                margin-bottom: 30px;

                h2{
                    margin: 0;
                }

                p{
                    cursor: pointer;
                }

            }
            .form-group{
                input{
                    margin-top: auto;
                }
            }

            .search-client{
                width: 100%;

                .input-container{
                    width: 100%;
    
                    display: flex;
                    flex-direction: row;

                    @media (min-width: 1364px) {
                        .form-group:has(.select-wrapper){
                            width: calc(75% - 15px);
                            flex: unset;
                        }
                    }

                    .search-btn{
                        width: fit-content;
                        
                        flex: unset;

                        .left{
                            width: fit-content;

                            display: flex;
                            align-items: center;
                        }
                    }

                }

            }
        }
    }

    .container-card-1{
        h2{
            margin-bottom: 30px;
        }
    }

    .desc{
        margin-bottom: 30px;

        @include t.body-1;
    }
}