@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.domain-contacts-overview{
    padding: 0 37px 50px 26px;
    
    .row{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .col{
        &-forms{
            width: calc(100% - 260px);
        }
    }

    .card{
        &-table{
            padding: 40px 20px 20px;

            .table-wrapper{
                overflow-x: scroll;
            }
            
            table{
                min-width: 815px;
            }
        }
    }
}