@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.tld-add{
    padding: 0 37px 50px 26px;
    
    .row{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .col{
        &-forms{
            width: calc(100% - 260px);
        }
    }

    .card{
        &-tld-setting{
            .toggle-action{
                @media (max-width: 575px) {
                    flex-direction: column-reverse;
                }
                .switch{
                    @media (min-width: 576px) {
                        margin-right: 0;
                    }
                }
            }
        }

        &-public-whois-server{
            button.btn{
                margin-bottom: 30px;
            }
        }

        &-idn-support{
            .alert{
                width: 100%;
                
                display: flex;
                align-items: center;
                gap: 10px;

                @include t.body-1;
            }
        }
    }
}