@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.breadcrumb{
    width: 100%;

    padding: 30px 0;

    display: flex;
    flex-direction: column;
    row-gap: 5px;

    h1{
        line-height: 1.25em;

        color: v.$primary-1;

        @include t.heading-3;
    }
    p{
        line-height: 1.5em;

        color: v.$primary-1;

        @include t.body-1;
    }
}