@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.btn {
    outline: 0;
    border: 1px solid;
    padding: 10px 20px;
    border-radius: 4px;
    @include t.button-1;
    cursor: pointer;

    text-decoration: none;
    white-space: nowrap;

    display: flex;
    align-items: center;
    gap: 6px;

    transition: .3s;

    &--primary {
        color: v.$white;
        background-color: v.$primary-1;
        border: none;

        &:hover {
            background-color: v.$secondary-1;
        }

        &--outline{
            color: v.$primary-1;
            border-color: v.$primary-1;
            background-color: transparent;
    
            &:hover {
                // border-color: v.$secondary-1;
                background-color: v.$primary-4;
            }
        }

        &--transparent{
            background-color: transparent;
            color: v.$primary-1;
            border-color: transparent;
            
            @include t.body-1;

            &:hover {
                color: v.$primary-1;
                background-color: v.$primary-4;

                border-color: v.$primary-4;
            }
        }
    }

    &--transparent{
        color: v.$primary-1;
        background-color: transparent!important;
        border: none;
        cursor: pointer;

        box-shadow: none!important;

        display: flex;
        align-items: center;
        gap: 6px;

        &:hover{
            color: v.$secondary-1;
        }
    }
}

.move-effect{
    display: flex;
    justify-content: flex-start;

    &:hover{
        padding-left: 20px!important;
        padding-right: 4px!important;
    }
}