@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.container-card{
    &-1{
        background-color: transparent;

        padding: 40px 50px;

        border-radius: 10px;

        box-shadow: 0px 4px 28px rgba(255, 199, 230, 0.3);

        @media (max-width: 767px) {
            padding-inline: 20px;
        }

        &:not(:last-child){
            margin-bottom: 30px;
        }

        .fit-content{
            width: fit-content;
        }

        h2, h3, h4, h5, h6{
            color: v.$primary-1;

            margin-bottom: 30px;

            @include t.heading-3;
        }

        label{
            color: v.$font-1;

            @include t.body-1;

            &:hover{
                color: v.$font-2;
            }
        }

        input:not([type="checkbox"]):not([type="button"]):not([type="submit"]), select, textarea{

            transition: .3s;

            @include m.input;
            @include t.body-1;

            &:hover{
                @include m.input-hover;
            }

            &:focus{
                color: v.$primary-1;

                @include m.input-focus
            }
        }
    }  

    &-2{

        &-wrapper{
            background: v.$secondary-2;

            max-width: 267px;
            box-sizing: border-box;

            padding: 24px 35px 26px 29px;

            border-radius: 10px;

            position: relative;

            overflow: hidden;

            display: flex;
            flex-direction: column;

            @media (max-width: 767px) {
                max-width: 500px;
                // flex-direction: row;
                flex-wrap: wrap;

            }

            p{
                text-align: center;

                z-index: 1;
            }

            .icon-top{
                margin-bottom: 5px;
                margin-inline: auto;
            }

            .title{
                color: v.$white;

                @include t.heading-4;
            }

            .amount{
                color: v.$white;

                @include t.button-1;
            }

            .bg-icon{
                &-tl{
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                &-br{
                    position: absolute;
                    bottom: -8px;
                    right: 0;
                }
            }

        }
        
    }

    &-3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 139px;
        height: 131px;

        text-decoration: none;

        border-radius: 10px;

        box-shadow: 0px 4px 28px rgba(255, 199, 230, 0.3);

        padding: 15px;

        cursor: pointer;

        svg{
            margin-inline: auto;
            margin-bottom: 15px;
        }

        .text{
            color: v.$font-1;

            text-align: center;

            margin-inline: auto;

            @include t.body-1;
        }
    }
}