@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    &-group {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: inherit;
        position: relative;
        flex: 0 0 100%;

        &.w-1\/2, .w-1\/2 {
            @media (min-width: 900px) {
                @include m.flex-slice(2, 25px);
            }

            @media (min-width: 620px) and (max-width: 767px) {
                @include m.flex-slice(2, 25px);
            }
        }

        &.w-1\/3, .w-1\/3 {
            @media (min-width: 900px) {
                @include m.flex-slice(3, 25px);
            }

            @media (min-width: 620px) and (max-width: 767px) {
                @include m.flex-slice(3, 25px);
            }
        }

        &.w-1\/4, .w-1\/4 {
            @media (min-width: 900px) {
                @include m.flex-slice(4, 25px);
            }

            @media (min-width: 620px) and (max-width: 767px) {
                @include m.flex-slice(4, 25px);
            }
        }

        &.choose-owner{
            flex-direction: row;
            flex-wrap: wrap;

            margin-top: 30px;
            
            label{
                width: 100%;
            }

            .search-wrapper{
                width: calc(100% - 80px);
            }
        }

        .select-wrapper{
            position: relative;
            color: v.$neutral-2;

            select{
                color: v.$neutral-2;
                background-color: transparent;

                border: none!important;

                padding-right: 40px!important;

                z-index: 1;

                &:focus ~ svg{
                    color: v.$primary-1;
                    transform: rotate(180deg) translateY(50%);
                }
            }

            svg{
                position: absolute;
                right: 10px;
                top: 50%;

                transform: translateY(-50%);

                transition: .3s;

                z-index: -1;
            }
        }

        label {
            @include t.body-1;
            color: v.$black;
        }

        input:not([type="submit"]):not([type="checkbox"]):not([type="button"]):not([type="radio"]),
        select,
        textarea {
            appearance: none;
            padding: 10px 12px;
            background: v.$white;
            // border: 1px solid v.$neutral-3;
            box-sizing: border-box;
            border-radius: 4px;
            color: v.$font-1;
            width: 100%;

            &:focus,
            &:focus-visible,
            &:hover {
                appearance: none;
                color: v.$neutral-1;
                outline: none;
                border: none!important;
            }
        }

        &.checkbox {
            flex-direction: row-reverse;
            justify-content: flex-end;
            position: relative;

            input {
                appearance: auto;
                flex: 0;
                accent-color: v.$secondary-1;
                border: solid 1px v.$secondary-1;
                margin: 0;
                transform: scale(1.3);
                opacity: .1;

                position: absolute;
                top: 3px;
                left: 0;

                width: fit-content;

                &:checked{
                    opacity: 1;
                }
            }

            label {
                display: inline;
                // flex: 0 0 auto;

                margin-left: 20px;

                &:hover {
                    &::before {
                        border: solid 2px v.$primary-1;
                    }

                    ~input {
                        accent-color: v.$primary-1;
                    }
                }

                &::before {
                    content: "";
                    height: 13px;
                    width: 13px;
                    border: solid 2px v.$secondary-1;
                    position: absolute;
                    border-radius: 3px;
                    left: -2px;
                    z-index: 0;
                    top: 1px;
                }
            }
        }

        &.radio{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .label{
                width: 100%;
            }

            label{
                margin-left: 16px;
            }

            input,text {
                appearance: auto;
                transform: scale(1.3);
                width: 0!important;

                box-shadow: none!important;

                &::before{
                    font-size: 20px;
                    color: transparent;

                    content: 'a';

                    background: url("#{v.$assets}/icons/ict-checkbox-unchecked.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: 0 2px;
                }

                &:checked::before{
                    font-size: 20px;

                    color: transparent;

                    content: 'a';
                    
                    // opacity: 1;

                    background: url("#{v.$assets}/icons/ict-checkbox-checked.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: 0 2px;
                }
            }
        }

        &.error {
            label {
                color: v.$red;

                &::after {
                    content: "\f06a";
                    @include m.icon;
                    position: absolute;
                    right: 8px;
                    top: 50%;
                    transform: translateY(calc(-50% + 14px));
                    font-size: 18px;
                }
            }

            input,
            select,
            textarea {
                border: 1px solid v.$red;
                color: v.$red;
            }
        }
    }

    span.note{
        color: v.$primary-1;
    }

    p.note{
        @include t.body-1;
    }

    p.label{
        padding-left: 0;
    }
}

// Search

.search-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;

    width: 100%;
    
    input.search-client{
        width: 100%;

        transition: .3s;

        padding-right: 40px;

        z-index: 1;

        background-color: transparent;

        @include t.body-1;
        @include m.input;

        &:hover{
            @include m.input-hover;
        }

        &:focus{
            color: v.$primary-1;
            
            @include m.input-focus;
        }
    }

    svg{
        position: absolute;
        right: 10px;
    }
}