@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.label{
    padding: 6px 14px;

    width: fit-content;

    border-radius: 30px;

    @include t.body-1;

    &-active{
        color: v.$success-1;
        background-color: v.$success-2;
    }

    &-deactive{
        color: v.$danger-1;
        background-color: v.$danger-2;
    }
}