@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/typo-mixins'as t;

.lang {
    display: flex;
    max-width: 400px;
    width: 100%;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 12px;
    position: relative;

    &__title {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 45px;
        right: 100px;
        position: absolute;
        top: 0;

        span {
            color: v.$font-1;
            @include t.body-1;
        }
    }

    &__select {
        &-list {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0;

            padding: 6px 10px;
            background: white;
            border-radius: 3px;
            box-shadow: 0px 4px 28px rgba(255, 199, 230, 0.3);

            li {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
                padding-block: 6px;
                cursor: pointer;

                @include t.body-1;
                color: v.$black;

                &.active {
                    order: -1;

                    &::after {
                        content: url('#{v.$assets}/icons/icon-chevron-down.svg');
                        transform: scale(1.5) translateY(-3px);
                    }
                }
            }
        }

    }
}