@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.action-menu{
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
        width: 100%;
        
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
    }

    @media (max-width: 580px) {
        justify-content: flex-start;
        row-gap: 20px;
        column-gap: 10px;
    }

    .back-wrapper{
        margin-bottom: 30px;

        @media (max-width: 767px) {
            margin-bottom: 0;
            margin-right: auto;
        }

        @media (max-width: 580px) {
            width: 100%;
        }
        .back{
            width: fit-content;
        }
    }

    .menu-item{
        margin-bottom: 5px;

        height: fit-content;

        &.active{
            color: v.$white;
            background-color: v.$primary-1;

            border-color: v.$primary-1;
        }
    }
}