@use "/resources/scss/abstracts/variables" as v;
@use "/resources/scss/abstracts/mixins" as m;
@use "/resources/scss/abstracts/typo-mixins" as t;

.modal {
    display: none;

    height: 100vh;
    width: 100vw;

    position: fixed;

    background-color: rgba(0, 0, 0, 0.284);

    &-dialog {
        position: absolute;
        top: 0;

        width: 100vw;
        height: 100vh;
    }

    .close, .close-nested{
        position: absolute;
        top: 30px;
        right: 20px;

        cursor: pointer;

        svg {
            background-color: v.$white;

            border-radius: 50%;
        }
    }

    &.active {
        display: block;
    }

    .modal-card {
        display: none;

        width: 100%;
        max-width: 976px;

        box-sizing: border-box;

        position: fixed;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);

        background-color: v.$white;

        @media (max-width: 976px) {
            width: calc(100% - 50px);
        }

        &.opacity-semi{
            opacity: .5;
            &.active.opacity-1{
                opacity: 1;
            }
        }

        &.active{
            display: block;
        }

        .title {
            margin-bottom: 18px;

            h3 {
                color: v.$primary-1;

                @include t.heading-3;
            }
        }

        &.modal {
            &-hosting-list {
                box-sizing: border-box;

                padding: 47px 40px 40px;

                .title {
                    display: flex;
                    align-items: center;
                    gap: 22px;

                    @media (max-width: 460px) {
                        flex-direction: column;
                        justify-content: flex-start;
                        gap: 10px;

                        h3,
                        p {
                            width: fit-content;

                            margin-right: auto;
                        }
                    }
                }

                .table-wrapper {
                    padding-bottom: 20px;

                    /* Table scrollbar */
                    /* width */
                    &::-webkit-scrollbar {
                        height: 6px;
                        transform: translate(-24px, 0px);
                    }

                    /* Track */
                    &::-webkit-scrollbar-track {
                        background-color: #fff;
                        border-radius: 5px;
                    }

                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: v.$primary-1;
                        border-radius: 5px;
                        height: 9px;
                    }

                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: v.$secondary-1;
                    }

                    /* Table scrollbar END */

                    @media (max-width: 767px) {
                        overflow-x: scroll;
                    }

                    .table-content {
                        width: 100%;

                        @media (max-width: 767px) {
                            min-width: 637px;
                        }

                        thead {
                            th {
                                text-align: start;
                                vertical-align: middle;

                                color: v.$primary-1;

                                padding-block: 18px;
                                padding-left: 47px;

                                @include t.heading-3;

                                border-bottom: 2px solid #f3e2f0;

                                &:nth-child(5) {
                                    max-width: 131px;
                                }
                            }
                        }

                        tbody {
                            tr {
                                cursor: pointer;

                                &:nth-child(odd) {
                                    background-color: v.$primary-6;
                                }
                            }
                            td {
                                text-align: start;
                                vertical-align: middle;
            
                                color: v.$font-1;
            
                                padding-block: 20px;
                                padding-left: 47px;

                                border-bottom: 2px solid v.$primary-4;

                                @include t.body-1;

                                &:last-child {
                                    .label {
                                        padding: 6px 14px;

                                        width: fit-content;

                                        border-radius: 30px;

                                        @include t.body-1;

                                        &-active {
                                            color: v.$success-1;
                                            background-color: v.$success-2;
                                        }

                                        &-deactive {
                                            color: v.$danger-1;
                                            background-color: v.$danger-2;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &-domain-list {
                // display: inline;

                box-sizing: border-box;

                padding: 47px 40px 40px;

                .title {
                    display: flex;
                    align-items: center;
                    gap: 22px;

                    @media (max-width: 460px) {
                        flex-direction: column;
                        justify-content: flex-start;
                        gap: 10px;

                        h3,
                        p {
                            width: fit-content;

                            margin-right: auto;
                        }
                    }
                }

                .table-wrapper {
                    padding-bottom: 20px;

                    /* Table scrollbar */
                    /* width */
                    &::-webkit-scrollbar {
                        height: 6px;
                        transform: translate(-24px, 0px);
                    }

                    /* Track */
                    &::-webkit-scrollbar-track {
                        background-color: #fff;
                        border-radius: 5px;
                    }

                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: v.$primary-1;
                        border-radius: 5px;
                        height: 9px;
                    }

                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: v.$secondary-1;
                    }

                    /* Table scrollbar END */

                    @media (max-width: 767px) {
                        overflow-x: scroll;
                    }

                    .table-content {
                        width: 100%;

                        @media (max-width: 767px) {
                            min-width: 637px;
                        }

                        thead {
                            th {
                                text-align: start;
                                vertical-align: middle;

                                color: v.$primary-1;

                                padding-block: 18px;
                                padding-left: 47px;

                                @include t.heading-3;

                                border-bottom: 2px solid #f3e2f0;

                                &:nth-child(5) {
                                    max-width: 131px;
                                }
                            }
                        }

                        tbody {
                            tr {
                                cursor: pointer;

                                &:nth-child(odd) {
                                    background-color: v.$primary-6;
                                }
                            }
                            td {
                                text-align: start;
                                vertical-align: middle;
            
                                color: v.$font-1;
            
                                padding-block: 20px;
                                padding-left: 47px;
            
                                border-bottom: 2px solid v.$primary-4;
            
                                @include t.body-1;
            
                                &:last-child{
            
                                    .label{
                                        padding: 6px 14px;
    
                                        width: fit-content;
    
                                        border-radius: 30px;
    
                                        @include t.body-1;
    
                                        &-active{
                                            color: v.$success-1;
                                            background-color: v.$success-2;
                                        }
    
                                        &-deactive{
                                            color: v.$danger-1;
                                            background-color: v.$danger-2;
                                        }
                                    }
                                }
            
                            }
                        }
                    }
                }
            }

            &-client-list{
                // display: inline;

                box-sizing: border-box;

                padding: 47px 40px 40px;
                
                .title{
                    display: flex;
                    align-items: center;
                    gap: 22px;

                    @media (max-width: 588px) {
                        flex-direction: column-reverse;
                        justify-content: flex-start;
                        gap: 10px;

                        h3, p{
                            width: fit-content;
                            
                            margin-right: auto;
                        }

                        .input-container{
                            margin-right: auto;
                            width: 100%;
                        }
                    }
                }
                
                .table-wrapper{
                    padding-bottom: 20px;

                    /* Table scrollbar */
                    /* width */
                    &::-webkit-scrollbar {
                        height: 6px;
                        transform: translate(-24px, 0px);
                    }

                    /* Track */
                    &::-webkit-scrollbar-track {
                        background-color: #fff;
                        border-radius: 5px;
                    }
                    
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: v.$primary-1; 
                        border-radius: 5px;
                        height: 9px
                    }

                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: v.$secondary-1; 
                    }

                    /* Table scrollbar END */

                    @media (max-width: 767px) {
                        overflow-x: scroll;
                    }

                    .table-content{
                        width: 100%;
    
                        @media (max-width: 767px) {
                            min-width: 637px;
                        }
                        
                        thead{
                            th{
                                text-align: start;
                                vertical-align: middle;
            
                                color: v.$primary-1;
            
                                padding-block: 18px;
                                padding-left: 47px;
            
                                @include t.heading-3;
            
                                border-bottom: 2px solid #F3E2F0;
            
                                &:nth-child(5){
                                    max-width: 131px;
                                }
                                
                            }
                        }
            
                        tbody{
                            tr{
                                cursor: pointer;
    
                                &:nth-child(even){
                                    background-color: v.$primary-6;
                                }
                            }
                            td{
                                text-align: start;
                                vertical-align: middle;
            
                                color: v.$font-1;
            
                                padding-block: 20px;
                                padding-left: 47px;

                                border-bottom: 2px solid v.$primary-4;

                                @include t.body-1;

                                &:last-child {
                                    .label {
                                        padding: 6px 14px;

                                        width: fit-content;

                                        border-radius: 30px;

                                        @include t.body-1;

                                        &-active {
                                            color: v.$success-1;
                                            background-color: v.$success-2;
                                        }

                                        &-deactive {
                                            color: v.$danger-1;
                                            background-color: v.$danger-2;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &-contact-information {
                padding: 30px 60px;

                max-height: 85vh;

                overflow-y: scroll;

                /* Custom scrollbar */
                    /* width */
                    &::-webkit-scrollbar {
                        width: 6px;
                        transform: translate(-24px, 0px);
                    }

                    /* Track */
                    &::-webkit-scrollbar-track {
                        background-color: #fff;
                        border-radius: 5px;
                    }
                    
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: v.$primary-1; 
                        border-radius: 5px;
                        width: 9px
                    }

                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: v.$secondary-1; 
                    }

                    /* Custom scrollbar END */

                @media (max-width: 550px) {
                    padding-inline: 20px;
                }

                .title{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    @media (max-width: 767px) {
                        flex-direction: column;
                        align-items: unset;
                    }

                    p{
                        color: v.$primary-1;

                        font-size: 16px!important;
                        font-family: "Open Sans", sans-serif;
                        font-style: normal;
                        font-weight: 700;

                        cursor: pointer;

                        width: fit-content;
                    }
                }

                .row{
                    margin-bottom: 30px;

                    .container-card-1 {
                        @media (max-width: 550px) {
                            padding-inline: 20px;
                        }
                    }
                }

                .row-contact-information {
                    .container-card-1 {
                        .label {
                            margin-bottom: 8px;
                        }
                        .input-container {
                            flex-direction: column;
                            gap: 20px;

                            .form-group {
                                max-width: 452px;

                                &>p{
                                    margin-top: 8px;

                                    @include t.body-1;

                                    span {
                                        color: v.$primary-1;
                                    }
                                }

                                .radio-wrapper {
                                    input {
                                        margin-bottom: 10px;
                                    }

                                    label {
                                        margin-left: 16px;
                                    }
                                }
                            }
                        }
                    }
                }

                .row-client-information{

                    .select-client{
                        width: 100%;

                        .input-container{
                            row-gap: 10px;
                        }
                        .select{
                            width: calc(100% - 200px);
                            flex-basis: unset;

                            @media (max-width: 767px) {
                                width: 100%;
                            }
                        }

                        .cstm-fit-content{
                            width: fit-content;
                            flex-basis: unset;
                        }
                    }
                    .form-group{
                        margin-top: auto;
                        
                        .submit-wrapper{
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                .row-submit{
                    display: flex;
                    gap: 15px;
                }
            }
        }
    }
}
