@use '/resources/scss/abstracts/typo-mixins'as t;
@use '/resources/scss/abstracts/variables'as v;

.navbar{
    display: flex;
    justify-content: flex-end;
    
    padding: 19px 37px;
    
    box-shadow: 0px 4px 28px rgba(255, 199, 230, 0.3);

    background-color: v.$white;

    position: sticky;
    top: 0;
    z-index: 10;
    
    @media (max-width: 1024px) {
        justify-content: space-between;

        padding: 10px 20px;
    }
    .navbar-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 13px;

        &-start{
            @media (min-width: 1025px) {
                display: none;
            }
            
            height: 60px;
            img{
                max-height: 60px;

                margin-block: auto;
            }
        }
        
        &-end{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 13px;
            .navbar{
                &-lang{
                    @media (max-width: 1024px) {
                        display: none;
                    }
                    
                    .lang{
                        width: fit-content;
                        
                        margin-top: 0;
                        ul{
                            box-shadow: none;
                            position: unset;
    
                            padding: 0;
    
                            li{
                                padding: 0;
                            }
                        }
                    }
                }
                &-log-out{
                    margin-top: 4px;

                    @media (max-width: 1024px) {
                        display: none;
                    }
                    a{
                        display: flex;
                        flex-direction: row;
                        gap: 6px;
    
                        text-decoration: none;
    
                        color: v.$primary-1;
    
                        transition: .3s;
    
                        @include t.button-1;
    
                        &:hover{
                            color: v.$secondary-1;
                        }
                    }
                }
                &-hamburger{
                    @media (min-width: 1025px) {
                        display: none;
                    }
                    .icon{
                        display: flex;
                        align-items: center;
                        svg{
                            color: v.$primary-1;
                            fill: currentColor;
                            width: 24px;
                            aspect-ratio: 1/1;
                        }
                    }
                }
            }
        }
    }
}