@use "../abstracts/variables"as v;
@use '/resources/scss/abstracts/typo-mixins'as t;

.pagination-wrapper{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    margin-top: 20px;

    @media (max-width: 575px) {
        flex-wrap: wrap;
        column-gap: 0px;
    }

    .item-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        @media (max-width: 575px) {
            
            &:nth-child(1){
                order: 1;
                
                width: calc( 50% - 5px);

                justify-content: flex-end;

                margin-right: 5px;
            }
            &:nth-child(2){
                order: 3;
            }
            &:nth-child(3){
                order: 2;

                width: calc( 50% - 5px);

                justify-content: flex-start;

                margin-left: 5px;
            }

        }
    }

    .item-pagination{
        color: v.$font-1;

        width: fit-content;

        border: 1px solid v.$neutral-3;
        border-radius: 3px;

        padding: 8px 10px;

        display: flex;
        align-items: center;
        
        transition: .3s;

        cursor: pointer;

        @include t.body-1;

        &:hover{
            background-color: v.$primary-4;
            color: v.$primary-1;
            border-color: v.$primary-1;
        }

        &.current{
            color: v.$white!important;
            background-color: v.$primary-1;
            border-color: v.$primary-1;
        }

        &.skip{
            font-size: 20px;

            padding: 0;

            transform: translateY(10px);

            border: none;

            background-color: unset;
            color: v.$font-1;

            cursor: unset;
        }
    }
}