@use "../abstracts/variables"as v;
@use '/resources/scss/abstracts/typo-mixins'as t;


.sidebar{
    width: 254px;
    height: 100vh;
    background-color: v.$white;

    box-shadow: 0px 4px 28px rgba(255, 199, 230, 0.3);

    position: sticky;
    top: 0px;

    @media (max-width: 1024px) {
        position: absolute;
        z-index: 1;
        transform: translateX(-100%);
        // Mobile should be 0%
    }
    .comp-sidebar{

        padding: 35px 12px 0 32px;

        .sidebar-img{
            margin-bottom: 62px;
        }
        
        .sidebar-menu-wrapper{
            display: flex;
            flex-direction: column;
            gap: 5px;
    
            .sidebar-menu-item{
                &.logout{
                    @media (min-width: 1025px) {
                        display: none;
                    }

                    .icon{
                        svg{
                            width: 26px;
                            height: 26px;
                        }
                    }
                }

                a{
                    display: flex;
                    align-items: center;
                    gap: 4px;
    
                    padding: 12px;
    
                    color: v.$primary-1;
                    fill: currentColor;
                    stroke: currentColor;
                    
                    border-radius: 3px;
    
                    text-decoration: none;
                    white-space: nowrap;

                    transition: .5s;

                    @include t.body-1;
    
                    &:hover{
                        background-color: v.$primary-4;
                    }
    
                    &.active{
                        background-color: v.$primary-1;
                        color: v.$white;
                    }

                    .icon{
                        display: flex;
                        align-items: center;
                    }

                }
            }
        }

        .lang{
            position: unset;

            @media (min-width: 1025px) {
                display: none;
            }

            .lang__select-list{
                right: 12px;
                bottom: 20px;
            }
        }
    }
}