@use "../abstracts/variables"as v;
@use '/resources/scss/abstracts/typo-mixins'as t;

.table-content{
    width: 100%;
    // min-width: 1180px;
    
    thead{
        th{
            text-align: start;
            vertical-align: middle;

            color: v.$primary-1;

            padding-block: 18px;
            padding-left: 47px;

            @include t.heading-3;

            border-bottom: 2px solid #F3E2F0;

            &:nth-child(5){
                max-width: 131px;
            }
            
        }
    }

    tbody{
        tr{
            &:nth-child(odd){
                background-color: v.$primary-6!important;
            }
            &:nth-child(even){
                background-color: v.$white!important;
            }
        }
        td{
            text-align: start;
            vertical-align: middle;

            color: v.$font-1;

            padding-block: 20px;
            padding-left: 47px;

            border-bottom: 2px solid v.$primary-4;

            @include t.body-1;

            &:nth-child(5){
                max-width: 131px;
            }

            &:last-child{
                padding: 0;

                button{
                    margin: auto;
                }
            }

            a{
                display: flex;
                align-items: center;
                gap: 6px;

                color: v.$primary-1;

                text-decoration: none;
                
                position: relative;
                
                @include t.button-1;
                
                &:has(svg){
                    padding-left: 22px;
                }

                svg{
                    width: 16px;
                    height: 16px;

                    position: absolute;
                    left: 0;
                }
            }

        }
    }
}

div.table-wrapper{
    padding-bottom: 10px;
    overflow-x: scroll;

    /* Table scrollbar */
    /* width */
    &::-webkit-scrollbar {
        height: 6px;
        transform: translate(-24px, 0px);
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 5px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: v.$primary-1; 
        border-radius: 5px;
        height: 9px
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: v.$secondary-1; 
    }

    /* Table scrollbar END */
}

.import-table{
    padding-inline: 25px;

    table{
        tr{
            td:last-child{
                padding-left: 47px!important;
                padding-block: 20px;
            }
        }
    }

    .form-group{
        &.checkbox{
            label::before{
                transform: translateY(-50%);
            }
            
            input{
                transform: translateY(-65%);
            }
        }
    }
}