@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/typo-mixins'as t;

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 39px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: v.$neutral-3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 31px;
    width: 31px;
    left: 4px;
    bottom: 4px;
    background-color: v.$white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: v.$primary-1;
  }
  
  input:focus + .slider {
    box-shadow: none;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .toggle-action{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    position: relative;

    margin-top: 20px;

    width: fit-content;

    @media (max-width: 575px) {
        flex-direction: column;
        justify-content: flex-start;
        
        &> p{
            margin-right: auto;
        }
    }


    .switch{
        margin-right: auto;
        min-width: 80px;
        width: fit-content;
    }

    input:checked ~ {
        .no{
            display: none;
        }
        .yes{
            display: inline;
        }
    }

    .yes{
        display: none;
        position: absolute;
        top: 50%;
        right: 42px;

        color: v.$white;

        transform: translateY(-50%);

        @include t.button-1;
    }
    
    .no{
        position: absolute;
        right: 16px;

        color: v.$font-1;

        transform: translateY(-50%);

        @include t.button-1;
    }
}