@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.nameserver-add{
    padding: 0 37px 50px 26px;
    
    .row{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .col{
        &-forms{
            width: calc(100% - 260px);
        }
    }

    .card{
        &-dns-template{
            .title-wrapper{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 20px;

                margin-bottom: 30px;

                h2{
                    margin: 0;
                }

                p{
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    margin-left: auto;
                }
            }

            .alert{
                display: flex;
                align-items: center;
                gap: 6px;

                margin-block: 16px;
            }
        }
    }
    
    .form-group{
        input{
            margin-top: auto;
        }
    }

    .dns-title{
        margin-bottom: 30px;
        
        @include t.heading-3;
    }
}