@mixin cutByLine($line) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin placeholder($prop, $value) {
  &::-webkit-input-placeholder {
    /* Edge */
    #{$prop}: $value;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer */
    #{$prop}: $value;
  }

  &::placeholder {
    #{$prop}: $value;
  }
}

@mixin inline-animation($duration) {
  $name: inline-#{unique-id()};

  @keyframes #{$name} {
    @content;
  }

  animation-name: $name;
  animation-duration: $duration;
}

@mixin flex-slice($slice, $gap: 30px) {
  $percentage: calc(100 / $slice);
  flex-basis: calc(#{$percentage}% - (#{$gap} * (100 / #{$percentage} - 1) / (100 / #{$percentage})));
}

@mixin icon {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}

@mixin input {
  padding: 10px 12px;

  box-shadow: 0px 0px 0px 1px rgba(89, 89, 120, 0.16);
  border-radius: 4px;
  border: none;

}

@mixin input-hover {
  box-shadow: 0px 0px 0px 1px #E6007E;

}

@mixin input-focus {
  box-shadow: 0px 0px 0px 1px #E6007E, 0px 2px 5px rgba(89, 89, 120, 0.1), 0px 0px 0px 4px rgba(230, 0, 126, 0.3);
  outline: none;
  
}
