@mixin display-1 {
  // paste here
}

@mixin display-1 {
  // paste here
}

@mixin heading-1($font-weight: 700) {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  font-size: 60px;
  line-height: 75px;
}

@mixin heading-2($font-weight: 700) {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  font-size: 36px;
  line-height: 49px;
}

@mixin heading-3($font-weight: 700) {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  font-size: 20px;
  line-height: 24px;
}

@mixin heading-4($font-weight: 400) {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  font-size: 17px;
  line-height: 23px;
}

@mixin heading-5($font-weight: 700) {
  // paste here
}

@mixin heading-6($font-weight: 700) {
  // paste here
}

@mixin subheading-1($font-weight: 400) {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  font-size: 18px;
  line-height: 25px;
}

@mixin subheading-2($font-weight: 600) {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  font-size: 20px;
  line-height: 27px;
}

@mixin subheading-3($font-weight: 700) {
  // paste here
}

@mixin button-1($font-weight: 700) {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  font-size: 16px;
  line-height: 22px;
}

@mixin button-2($font-weight: 700) {
  // font-family: 'Open Sans', sans-serif;
  // font-style: normal;
  // font-weight: $font-weight;
  // font-size: 16px;
  // line-height: 22px;
}

@mixin body-1($font-weight: 400) {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  font-size: 15px;
  line-height: 20px;
}

@mixin body-2($font-weight: 400) {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  font-size: 13px;
  line-height: 18px;
}

@mixin small-1($font-weight: 400) {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  font-size: 13px;
  line-height: 18px;
}

@mixin small-2($font-weight: 300) {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  font-size: 10px;
  line-height: 14px;
}