@use "sass:map";

/**
* Environment --------------------
*/
$isLocal: false;

/**
* Breakpoint --------------------
*/
$mobile-down: 600px;
$mobile-up: 601px;
$tablet-down: 1024px;
$tablet-up: 1025px;
$laptop-down: 1440px;
$laptop-up: 1441px;

/**
* Color --------------------
*/

$colors: (
    "black": #000,
    "white": #fff,
    "red": red,
    "primary-1": #951d81,
    "primary-2": #bb6eae,
    "primary-3": #d797cc,
    "primary-4": #f3e2f0,
    "primary-5": #951d81,
    "primary-6": #fffafe,
    "secondary-1": #e6007e,
    "secondary-2": linear-gradient(180deg, #e10080 0%, #991a81 100%),
    "secondary-3": #8cb0ff,
    "secondary-4": #ecf5ff,
    "secondary-5": #f8fbff,
    "accent-1": #13a6df,
    "accent-2": #3dbbec,
    "accent-3": #94ddfa,
    "accent-4": #e2f7ff,
    "accent-5": #f4fcff,
    "neutral-1": #55585b,
    "neutral-2": #939598,
    "neutral-3": #d9d9d9,
    "neutral-4": #eaeaea,
    "font-1": #0e0e0e,
    "font-2": #45484a,
    "success-1": #00a659,
    "success-2": #e2ffea,
    "danger-1": #ff0000,
    "danger-2": #ffdada,
);

$white: map.get($colors, "white");
$black: map.get($colors, "black");
$red: map.get($colors, "red");

$primary-1: map.get($colors, "primary-1");
$primary-2: map.get($colors, "primary-2");
$primary-3: map.get($colors, "primary-3");
$primary-4: map.get($colors, "primary-4");
$primary-5: map.get($colors, "primary-5");
$primary-6: map.get($colors, "primary-6");

$secondary-1: map.get($colors, "secondary-1");
$secondary-2: map.get($colors, "secondary-2");
$secondary-3: map.get($colors, "secondary-3");
$secondary-4: map.get($colors, "secondary-4");
$secondary-5: map.get($colors, "secondary-5");

$accent-1: map.get($colors, "accent-1");
$accent-2: map.get($colors, "accent-2");
$accent-3: map.get($colors, "accent-3");
$accent-4: map.get($colors, "accent-4");
$accent-5: map.get($colors, "accent-5");

$neutral-1: map.get($colors, "neutral-1");
$neutral-2: map.get($colors, "neutral-2");
$neutral-3: map.get($colors, "neutral-3");
$neutral-4: map.get($colors, "neutral-4");

$font-1: map.get($colors, "font-1");
$font-2: map.get($colors, "font-2");

$success-1: map.get($colors, "success-1");
$success-2: map.get($colors, "success-2");
$danger-1: map.get($colors, "danger-1");
$danger-2: map.get($colors, "danger-2");

$assets: "/assets";
@if $isLocal {
    $assets: "http://localhost:8000/assets";
}
