@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.server-add{
    padding: 0 37px 50px 26px;
    
    .row{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .col{
        &-forms{
            width: calc(100% - 260px);
        }
    }

    .card{
        &-general{
            button.btn--primary{
                margin-bottom: 30px;
            }
        }

        &-nameservers{
            .desc{
                margin-bottom: 30px;

                @include t.body-1;
            }
        }

        &-hosting-panel-setting{
            input{
                margin-top: auto;
            }
        }

        &-hostfact{
            .info-wrapper{
                margin-block: 30px 0;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px 20px;

                p{
                    width: 100%;
                }

                a{
                    text-decoration: none;

                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }
        }
    }

    .import-card{
        &.card-general{
            .form-group{
                &.checkbox{
                    flex-direction: column;

                    .checkbox-wrapper{
                        position: relative;
                    }
                }
            }
            .form-group:has(button){
                button{
                    width: fit-content;
                }
            }
        }

        &.card-add-email-address{
            padding-inline: 24px;

            .input-container{
                margin-bottom: 30px;

                width: 100%;
            }

            .table-wrapper{
                margin-bottom: 30px;
            }
        }
    }
}