@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.manage-services{
    padding: 0 37px 50px 26px;

    @media (max-width: 767px) {
        padding: 0 20px 50px!important;
    }

    .w-1\/2{
        @media (max-width: 767px) {
            width: 100%;
            flex-basis: unset;
        }
    }

    .row{

        @media (max-width: 600px) {
            flex-direction: column!important;
        }

        &-action{
            @media (max-width: 767px) {
                gap: 20px!important;
            }

            .action-menu{
                justify-content: flex-start;
                gap: 0!important;

                @media (min-width: 601px) {
                    position: sticky;
                    top: 100px;
                }

                .action-menu-group{
                    h2{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;

                        svg{
                            transition: .3s;

                            &.active{
                                transform: rotate(180deg);
                            }
                        }
                    }

                    &:not(:last-child){
                        margin-bottom: 30px;

                        @media (max-width: 600px) {
                            margin-bottom: 10px;
                        }
                    }

                    &-name{

                        color: v.$primary-1;
                        margin-bottom: 5px;

                        @include t.heading-3;

                    }

                    .menu-item{
                        padding: 12px;
                    }

                    .menu-item-wrapper{
                        overflow: hidden;

                        max-height: 0;

                        transition: .5s;
                        
                        &.active{
                            max-height: 200px;
                        }
                    }

                }

            }

        }

    }

    .col{
        &.col-side-menu{
            width: 210px;

            @media (max-width: 767px) {
                width: 190px!important;
            }

            @media (max-width: 600px) {
                width: 100%!important;
            }

            .action-menu{

                .action-menu-group{
                    width: 100%;
                }
            }
        }

        &.col-forms{
            @media (max-width: 767px) {
                width: calc(100% - 210px);
            }

            @media (max-width: 600px) {
                width: 100%!important;
            }
        }
    }

    .card{
        &-table{
            /* Table scrollbar */
                /* width */
                &::-webkit-scrollbar {
                    height: 6px;
                    transform: translate(-24px, 0px);
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background-color: #fff;
                    border-radius: 5px;
                }
                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: v.$primary-1; 
                    border-radius: 5px;
                    height: 9px
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: v.$secondary-1; 
                }

            /* Table scrollbar END */

            .table-action-wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 20px;

                margin-bottom: 20px;

                .counter-wrapper{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    h3{
                        margin: auto;
                    }

                    .count{
                        background-color: v.$primary-1;
                        color: v.$white;

                        padding: 1px 7px 0;

                        border-radius: 2px;

                        @include t.button-1;
                        
                    }
                }
            }

            .table-wrapper{
                tbody{
                    tr{
                        td:last-child{
                            a{
                                padding: 0;

                                svg{
                                    position: unset;

                                    margin: auto;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

    .explanation{
        display: flex;
        flex-direction: column;
        padding: 20px;

        border: 1px solid v.$primary-1;
        border-radius: 10px;

        margin-top: 30px;

        h3{
            color: v.$primary-1;

            @include t.heading-3;
        }

        p{
            @include t.body-1;
        }
    }

    .form-menu-tab{
        margin-bottom: 30px;

        h2{
            color: v.$primary-1;

            @include t.heading-3;
        }

        .menu-wrapper{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 15px;

            .menu-item{
    
                width: fit-content;
    
                &.active{
                    background-color: v.$primary-4;
                }
            }
        }
    }

    .card-import-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px 20px;

        margin-bottom: 30px;
    }

    .button-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .js-manage-service-edit-menu-content{
        display: none;
        &.active{
            display: block;
        }
    }

    .btn-import{
        margin-bottom: 30px;
    }

    .notice{
        padding: 20px;
        margin-block: 30px;

        background-color: v.$accent-5;

        border-radius: 10px;
        border: 1px solid v.$accent-1;

        display: flex;
        align-items: center;
        gap: 10px;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        svg{
            min-width: 40px;
            
            @media (max-width: 767px) {
                margin-right: auto;
            }
        }
        
        .text-wrapper{
            display: flex;
            flex-direction: column;
            gap: 10px;

            p, li{
                color: v.$accent-1;

                list-style: disc;

                @include t.body-1;
            }

            ul{
                padding-left: 20px;
            }

            a{
                color: v.$accent-1;

                text-decoration: none;

                @include t.button-1;
            }
        }
    }
}