@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.registrar-add{
    padding: 0 37px 50px 26px;
    
    .row{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .col{
        &-forms{
            width: calc(100% - 260px);
        }
    }

    .card{
        
        &-table{
            padding: 40px 20px 20px;

            .table-wrapper{
                overflow-x: scroll;
            }
            
            table{
                min-width: 815px;
            }
        }

        &-general{
            .form{
                .checkbox{
                    flex-direction: column;

                    &-wrapper{
                        position: relative;
                    }
                }
            }
        }

        &-default-domain-contacts{

            .input-container{
                flex-wrap: nowrap;

                @media (max-width: 1280px) {
                    flex-wrap: wrap;
                }
                .form-group{
                    width: fit-content;

                    flex-basis: unset;
                }
            }

        }

        &-nameservers{
            .input-container{
                
                flex-direction: column;
                
                @media (min-width: 1440px) {
                    width: calc(50% - 15px);
                }

                .form-group{
                    width: 100%;

                    &.checkbox{
                        flex-direction: column;
                    }
                }
            }
        }

        &-link-setting{
            .input-container{
                margin-bottom: 30px;
            }

            .desc{
                margin-bottom: 0;
            }
        }

        &-hostfact{
            .info-wrapper{
                margin-block: 30px;

                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px 20px;

                p{
                    width: 100%;
                }

                a{
                    text-decoration: none;

                    display: flex;
                    align-items: center;
                    gap: 8px;
                }
            }
        }
    }

    .container-card-1{
        h2{
            margin-bottom: 30px;
        }
    }

    .label{
        padding-left: 0;
    }

    .desc{
        margin-bottom: 30px;

        @include t.body-1;
    }

    .card{
        &-link-domain-to-client{
            p.body-1{
                margin-bottom: 30px;
            }
        }
    }

    .import-table{
        table{
            td, th{
                &:nth-child(2){
                    padding-left: 0px;
                }

                &:last-child{
                    padding-left: 47px;
                }
            }
        }

        .table{
            &-filter{
                display: flex;
                flex-direction: row;
                align-items: center;

                margin-bottom: 30px;
    
                position: relative;
    
                width: fit-content;
    
                svg{
                    position: absolute;
                }
    
                .text-filter{
                    color: v.$primary-1;
                }
    
                select.filter-dropdown {
                    /* Reset Select */
                    appearance: none;
                    outline: 0;
                    border: 0;
                    box-shadow: none;
                    /* Personalize */
    
                    flex: 1;
                    padding: 10px;
                    padding-left: 30px;
    
                    z-index: 1;
    
                    color: v.$primary-1;
                    background-color: transparent;
                    cursor: pointer;
    
                    @include t.body-1;
    
                    &:before{
                        content: '1';
                    }
                }
            }
        }
    }
}