@use '/resources/scss/abstracts/variables'as v;
@use '/resources/scss/abstracts/mixins'as m;
@use '/resources/scss/abstracts/typo-mixins'as t;

.package-add{
    padding: 0 37px 50px 26px;
    
    .row{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .col{
        &-forms{
            width: calc(100% - 260px);
        }
    }

    .card{
        &-package-information{
            .alert{
                width: 100%;
                
                display: flex;
                align-items: center;
                gap: 10px;

                @include t.body-1;
            }
        }

        &-package-specification{
            .client-information-item-wrapper{
                display: grid;
                gap: 20px 40px;
                grid-template-columns: repeat(3, 1fr);
                
                @media (max-width: 767px) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media (max-width: 450px) {
                    grid-template-columns: repeat(1, 1fr);
                }

                .client-information-item{
                    h3{
                        margin-bottom: 10px;

                        color: v.$black;

                        @include t.button-1;
                    }

                    p{
                        color: v.$black;

                        @include t.body-1;
                    }
                }
            }

            .alert{
                width: 100%;
                
                display: flex;
                align-items: center;
                gap: 10px;

                @include t.body-1;
            }
        }

        &-hosting-account{
            .select-wrapper{
                margin-top: auto;
            }
        }
    }
}